xsd/parameters.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="common.xsd" />

  <xs:simpleType name="unitvalue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+[\.]?[0-9]*([ ]*(m|km|ms|s|min|h))?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="colorvalue">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="255" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="locations">
    <xs:annotation>
      <xs:documentation>
        Possible location types. Specify multiple separated by space. Allows all if omitted
      </xs:documentation>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="infopoint" />
          <xs:enumeration value="missionoffer" />
          <xs:enumeration value="platform" />
          <xs:enumeration value="tradeoffer" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:complexType name="viewangle">
    <xs:annotation>
      <xs:documentation>
        Maximum angle away from crosshair center (horizontal or vertical), in positive degrees (default: 180, i.e. no restriction)
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="max">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1" />
          <xs:maxInclusive value="180" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="chance">
    <xs:annotation>
      <xs:documentation>
        Chance value, defaults to 100.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="argbcolor">
    <xs:annotation>
      <xs:documentation>
        Color value given as ARGB components.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="r" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Red color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="g" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Green color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="b" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Blue color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="a" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Alpha value (0-255, default: 255)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="highlightcolour">
    <xs:annotation>
      <xs:documentation>
        Control highlighting options
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="r" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Red color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="g" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Green color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="b" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Blue color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="a" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Alpha value (0-255, default: 255)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="duration" type="xs:float" use="required">
      <xs:annotation>
        <xs:documentation>
          Duration of the highlight effect
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="frequency" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Frequency of oscillation effect (default: 0, no oscillation)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minalpha">
      <xs:annotation>
        <xs:documentation>
          Minimum alpha value for oscillation effect (0.0-1.0, default: 0)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="maxalpha">
      <xs:annotation>
        <xs:documentation>
          Maximum alpha value for oscillation effect (0.0-1.0, default: 1)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="curve">
    <xs:sequence>
      <xs:element name="point" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="position" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Input value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="value" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Output value for this point's input value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="default" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Default value, used when input is outside of bounds defined by the curve
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="unitcategories">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="defence" />
      <xs:enumeration value="police" />
      <xs:enumeration value="transport" />
      <xs:enumeration value="welder" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="unitentry">
    <xs:attribute name="category" type="unitcategories">
      <xs:annotation>
        <xs:documentation>
          Unit category, see unitmap.xml
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mk" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          The mk number of the unit category
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="weight" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Weighting for distribution over unit capacity
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="requiredronelaunchpad" type="boolean">
      <xs:annotation>
        <xs:documentation>
          Entry will only be processed for stations that have at least one drone launch pad
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factiontags" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Entry will only be processed for stations where the owner faction matches at least one of the specified tags
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="highlightdef">
    <xs:sequence>
      <xs:element name="outline" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Outline effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
      <xs:element name="fill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Fill effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scan">
    <xs:sequence>
      <xs:element name="outline" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Outline effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
      <xs:element name="fill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Fill effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="minlevel" use="required">
      <xs:annotation>
        <xs:documentation>
          Minimum scan level to trigger this effect
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="9" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="highlight">
    <xs:sequence>
      <xs:element name="infopoint" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="target" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="environmentobject" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="scan" type="scan" minOccurs="0" maxOccurs="9" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="platform" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="target" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="environmentobject" type="highlightdef" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tradeoffer" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="target" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="environmentobject" type="highlightdef" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scriptparams">
    <xs:sequence>
      <xs:element name="category" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="idname" use="required" />
                <xs:attribute name="value" type="expression" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="idname" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inventoryitemtraders">
    <xs:sequence>
      <xs:element name="trader" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" type="xs:string" use="required" />
          <xs:attribute name="warebaskets" type="xs:string" use="required" />
          <xs:attribute name="warebaskets2" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:attributeGroup name="vector3">
    <xs:attribute name="x" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          X coordinate
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="y" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Y coordinate
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="z" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Z coordinate
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:complexType name="jobsparams">
    <xs:sequence>
      <xs:element name="factor" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Factor of job quotas
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="galaxy" type="xs:float"/>
          <xs:attribute name="cluster" type="xs:float"/>
          <xs:attribute name="sector" type="xs:float"/>
          <xs:attribute name="zone" type="xs:float"/>
          <xs:attribute name="station" type="xs:float"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="masstrafficparams">
    <xs:sequence>
      <xs:element name="objects" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Parameters related to mass traffic objects
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deviation" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Parameters defining how a ship will deviate from the exact mass traffic position over time
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="amplitude" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        The maximum distance a mass traffic object can deviate in each direction
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attributeGroup ref="vector3" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="period" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        Parameters for the period at which a mass traffic object oscillates in each coordinate. The result will be a random value between the minimum and the maximum period.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="min" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                            <xs:attributeGroup ref="vector3" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="max" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                            <xs:attributeGroup ref="vector3" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="phase" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        Parameters for the phase shift of oscillation. The result will be a random value between the minimum and the maximum phase.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="min" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                            <xs:attributeGroup ref="vector3" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="max" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                            <xs:attributeGroup ref="vector3" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="factor" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        The factor in x/y deviation for roads that start or end at a local or super highway, for example
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="localhighway" type="xs:float" />
                      <xs:attribute name="superhighway" type="xs:float" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="speed" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Defines the speeds at which mass traffic objects move
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="id" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>
                            The tag ID for this speed setting
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="speed" type="xs:float">
                        <xs:annotation>
                          <xs:documentation>
                            The speed (in m/s) to be used on roads with this tag
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="default" type="xs:float">
                  <xs:annotation>
                    <xs:documentation>
                      The default speed (in m/s) to be used when no matching tag is defined
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="highwaytrailcolor" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Parameters related to mass traffic ship trails in highway
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="danger" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Trail vertex color for signalling collision with player ship
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="argbcolor" />
              </xs:complexType>
            </xs:element>
            <xs:element name="safe" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Trail vertex color for signalling no collision with player ship
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attributeGroup ref="argbcolor" />
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lowattentioncombatparams">
    <xs:sequence>
      <xs:element name="attack" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Parameters related to attack damage
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="firingarea" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Effective area for turrets to fire from, limiting damage from very large obects
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="primaryweaponfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Multiplier for primary weapon damage
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="secondaryweaponfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Multiplier for secondary weapon damage
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="turretfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Multiplier for turret damage
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="droneprimaryfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Multiplier for defence drone (not attack) primary damage
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="dronesecondaryfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Multiplier for defence drone (not attack) primary damage
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minspeed" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                The minimum speed of the attacker, used for evasion calculations. Slower or immobile objects will use this value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="defence" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Parameters related to the defender, negating damage
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="maneouverfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Factor of how much of a difference the speed between the attacker and defender affects the hit chance
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minspeed" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                The minimum speed of the defender, used for evasion calculations. Slower or immobile objects will use this value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="maxsize" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                The minimum size of the defender, used for hit chance calculations. Very large objects will use this value
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="sizefactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Factor of how much of a difference the object size and 'maxsize' affects the hit chance
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="capshipfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Factor of how much turret damage against a defending capitalship is negated. Simulating the high attention wandering of capships which slows the battle
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="dronedistractionfactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Factor of how much damage a single defence drone will negate by distracting the attacker. Total result clamped between 0.5 and 1.0
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="dronedamageamount" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                Amount of damage needed to be dealt to destroy one defence drone
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lootmagnetparams">
    <xs:attribute name="range" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          The maximum range at which a collectable will be pulled
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="force" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          How strongly the collectable will be pulled (note that the force at a certain range also increases when the range is increased)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxspeed" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          The collectable's maximum speed
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sound" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The sound ID to be played while the magnet is active
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="renderparams">
    <xs:annotation>
      <xs:documentation>
        Parameters related to rendering
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="weaponglow" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Parameters related to weapon glow
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="max" type="xs:float">
            <xs:annotation>
              <xs:documentation>
                The maximum glow value to be passed on to shaders
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="soundparams">
    <xs:annotation>
      <xs:documentation>
        Parameters related to sounds
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="anomaly" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Parameters related to anomaly sounds
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pitchcurve" type="curve">
              <xs:annotation>
                <xs:documentation>
                  The section curve for the sound's pitch depending on the distance to the center (this is additive, so 0 is neutral)
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="volumecurve" type="curve">
              <xs:annotation>
                <xs:documentation>
                  The section curve for the sound's volume depending on the distance to the center (this is a factor, so 1 is neutral)
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unitloadoutparams">
    <xs:annotation>
      <xs:documentation>
        Parameters related to default station unit loadouts
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="loadout" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Unit loadout definition
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="unit" type="unitentry" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Loadout name
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="waregroups" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Space separated list of waregroup names. The wares associated with these groups will be checked against the products and tradewares of the station to see if it fits into this category
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pointerparams">
    <xs:annotation>
      <xs:documentation>
        Parameters related to 3D pointers
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cursors" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Mappings from mouse cursor ID to icon material
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cursor" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  Mapping from mouse cursor ID to icon material
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="id" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      The mouse cursor ID
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      The icon material to be used when this cursor is set - if left empty the game will display a small sphere instead
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="scale" type="xs:float">
                  <xs:annotation>
                    <xs:documentation>
                      The scale of the element (sphere or icon plane)
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="length" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          The default length of the pointer if nothing is being pointed at
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="width" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          The width of the pointer
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="material" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The material to be put on the pointer
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iconscale" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          The base scale of the icon shown at the end of the line, will be modified by the distance to the camera to keep the screen size consistent
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="anycontent">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="skip" />
    </xs:sequence>
    <xs:anyAttribute processContents="skip" />
  </xs:complexType>

  <xs:element name="parameters">
    <xs:annotation>
      <xs:documentation>
        Parameters library document node
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="playerflight" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="aiflight" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="playerfirstperson" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="playerfirstpersongeometry" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="playercamera" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="environmentobject" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="highlight" type="highlight" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Highlight settings
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="scanlevel" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="holomap" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="minigame" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="longrangescan" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="drop" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="hintpositions" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="physics" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="bonuscontent" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="damagestate" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="engine" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="controlpanel" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="materials" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="economy" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="hazardwarning" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="scriptparams" type="scriptparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="inventoryitemtraders" type="inventoryitemtraders" minOccurs="0" maxOccurs="1" />
        <xs:element name="jobs" type="jobsparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="masstraffic" type="masstrafficparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="lowattentioncombat" type="lowattentioncombatparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="lootmagnet" type="lootmagnetparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="waypoint" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="render" type="renderparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="sound" type="soundparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="unitloadouts" type="unitloadoutparams" minOccurs="0" maxOccurs="1" />
        <xs:element name="pointer" type="pointerparams" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
